body{
  background-color: #eee;
}

.cloud-body{
  position: relative;
}

.disabled{
  background-color: #c0c0d8;
}

.dropdown-menu-button{
  cursor: pointer;
}

.form-overlay{
  position: absolute;
  top: 0px;
  z-index: 20;
}

.form-overlay button{
  background-color: #ccc
}

.hidden{
  visibility:hidden;
}

.notice-container{
  background-color: #ff1a1a;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  height: 26px;
  margin: 10px 10px 24px 10px;
  text-align: center;
}

.word-cloud{
  height:500px;
}

input[type="text"]:disabled{
  background-color: #dfdfec;
}
