.cloud-body{
  position: relative;
}

.form-overlay{
  position: absolute;
  top: 0px;
  z-index: 20;
}

.word-cloud{
  height:500px;
}

.disabled{
  background-color: #c0c0d8;
}

input[type="text"]:disabled{
  background-color: #dfdfec;
}
