<h1>Create a wikipedia word cloud</h1>

<form class="article-form">
  <input type="text" name="article_title"/>
  <button id="submit-word">Submit Words</button>
</form>


<div class="word-cloud"></div>
