<div class="container">
  <div class="row">
    <h1>Create a Wikipedia Word Cloud!</h1>
    <p>Type in an article title; a word cloud will be built from the text of that Wikipedia article and the articles it links to.</p>
  </div>

  <div class="row">
    <div class="five columns notice-container hidden">
      <div class="notice"></div>
    </div>
  </div>

  <div class="row cloud-body">
    <div class="three columns form-overlay dropdown-menu">
      <button onclick="Wikifog.toggleMenu()" class="dropdown-menu-button">Show Menu</button>
      <div class="dropdown-menu-content">
        <form class="article-form">
          <label>Article Title:
            <input type="text" name="wikipedia[article_title]"/>
          </label>
          <label>Number of Cloud Words: (Max 200)
            <input type="text" name="wikipedia[word_count]"/>
          </label>
          <button id="submit-word">Submit Words</button>
        </form>
      </div>
    </div>

    <div class="twelve columns">
      <div class="word-cloud"></div>
    </div>
  </div>
</div>
