<div class="notices"></div>

<h1>Create a wikipedia word cloud</h1>

<form class="article-form">
  <label>Article Title:
    <input type="text" name="wikipedia[article_title]"/>
  </label>
  <label>Number of Cloud Words: (Max 200)
    <input type="text" name="wikipedia[word_count]"/>
  </label>
  <button id="submit-word">Submit Words</button>
</form>


<div class="word-cloud"></div>
